@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@font-face {
    font-family: 'dialoguebold';
    src: url('fonts/dialogue-bold.10-webfont.eot');
    src: 
         url('fonts/dialogue-bold.10-webfont.woff2') format('woff2'),
         url('fonts/dialogue-bold.10-webfont.woff') format('woff'),
         url('fonts/dialogue-bold.10-webfont.svg#dialoguebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "dialoguebold";
    font-weight: normal;
    font-style: normal;
    margin: 0;
    width: 100%;
    height: 100%; 
}
div {
    vertical-align: middle;
}
p {
    text-decoration: none;
    white-space:nowrap;
}

section{
    background-color: #DFDFDF;
    overflow: hidden;
    position: relative;
    min-height:100%;
    width: 100%;
    background-size: cover;
}

.landing {
    height: 100vh;
    display: flex;
    align-items: center;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background:#FFFFFF;
    position:absolute;
    opacity: 0.1;
}

.logo {
    z-index: 2;
    margin: 0 auto;
    width: 30%;
}

.video-layout {
    position: absolute;
    top:50%;
    left:50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.main-page{
    height: 100vh;
    display: flex;
    align-items: center;
}

.background {
    background-image: url("../image/background.jpg");
    z-index: 1;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}


.transparent_logo {
    z-index: 2;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.icon-img {
    width:100%;
    height:auto;
}

#logo-bungee{
    z-index: 3;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    position: absolute;
    transform: translate(-50%, -50%);    
    top: 25%;
    left: 70%;
}

#logo-post{
    z-index: 3;
    margin: 0 auto;
    width: 30%;
    height:30%;
    position: absolute;
    transform: translate(-50%, -50%);    
    top: 50%;
    left: 20%;
}

#logo-podcast{
    z-index: 3;
    margin: 0 auto;
    width: 15%;
    height: 10%;
    position: absolute;
    transform: translate(-50%, -50%);    
    top: 30%;
    left:15%;
}

#logo-coffee{
    z-index: 3;
    margin: 0 auto;
    height: 5%;
    width: 5%;
    position: absolute;
    transform: translate(-50%, -50%);    
    top: 30%;
    left: 10%;
}

#navi {
    z-index: 3;
    margin: 0 auto;
    height: 100px;
    width: 50px;
    position: absolute;
    right: 2%;
    bottom: 5%;
    align-items: center;
}

.hover-container {
    height: 40px;
    width: 40px;
    padding: 5px;
    display: inline-flex;    
}

.hover-container:hover > .hover-text {
    visibility: visible;
    right: 60px

}
.hover-text {
    position: absolute;
    right: 50px;
    height: 40px;
    -webkit-transition: right 0.6s ease-in-out;
    transition: right 0.6s ease-in-out;
    text-align: center;
    visibility: hidden;
}

.hover-icon{
    position: absolute;
    right: 5px;
    width: 40px;
    height: 40px;
}

/*#logo-smile { 
    z-index: 3;
    margin: 0 auto;
    height: 5%;
    width: 10%;
    transition: transform .2s;
    position: absolute;
    transform: translate(-50%, -50%);    
    top: 67.5%;
    left: 90%;
    align-items: center;
    display: inline-flex;
}

.hover-icon {
    height: 100%;
    width: auto;
}

#logo-pool { 
    z-index: 3;
    margin: 0 auto;
    height: 2.5%;
    width: 2.5%;
    transition: transform .2s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 92%;
    align-items: center;
}

.hover-icon:hover{
    transform: scale(1.25);
}*/
